<div id="parks" data-ng-controller="ParksController as parksctrl" data-ng-init="parksctrl.getParks()">
  <h3>Parks Resource Data Array:</h3>
  <h4 id="beerarray" class="ng-cloak" ng-cloak>{{parksctrl.parks}}</h4>

</div





<div id="users" class="tab-content" data-ng-controller="UsersController as usersctrl" data-ng-init="usersctrl.getUsers()">
  <h3>Our Fabulous Users</h3>
  <h4 id="userarray" class="ng-cloak" ng-cloak>{{usersctrl.users}}</h4>
  <ul id="userlist">
    <li class="ng-cloak" data-ng-repeat="user in usersctrl.users" highlight>{{user.fullName}}, favorite parks: {{user.list.item}}
    <button type="submit" data-ng-click="usersctrl.removeUser(user)">Delete User</button>
    <button type="submit" data-ng-click="usersctrl.toggleForm(user)">Update User</button>
    <form data-ng-if="user.editing" data-ng-submit="usersctrl.updateUser(user)">
      <input type="text" placeholder="full name" data-ng-model="user.fullName">
      <input type="text" placeholder="your park wish" data-ng-model="user.list.item"/>
      <button data-ng-click="usersctrl.toggleForm(user)">Cancel</button>
      <button type="submit">Update</button>
    </form>
    </li>
  </ul>
  <button ng-click="usersctrl.signOut()">Sign Out</button>
</div>
