<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="style/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="app">
    <div class="container text-xs-center">
      <h1 class="display-1 m-t-3">Parks Passport</h1>
      <p class="lead m-b-3">Your Passport to our National Parks and Monuments</p>
    </div>
    <div class="container col-lg-4 col-lg-offset-4 text-xs-center m-b-4">
      <div class="btn-group m-t-2" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#register">View my wish list</button>
					<a class="btn btn-secondary btn-md" href="#speakers">Sign-up</a>
			</div>
    </div>
    <main ng-view>
      PROCESSING
    </main>
    <!-- jQuery first, then Bootstrap JS. -->
    <script></script>
    <script src="./bundle.js"></script>
  </body>
</html>
