

<div class="jumbotron container-fluid" ng-controller="UsersController as usersctrl">
  <div>
    <div class="container-fluid text-xs-center">
      <h1 class="display-1 m-t-2">Parks Passport</h1>
      <p class="lead m-b-2">Your Passport to our National Parks and Monuments</p>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3>Welcome back | Please sign in</h3>
      </div>
      <div  class="modal-body">
        <form class="form-inline">
          <input type="text" placeholder="email" data-ng-model="user.email">
          <input type="password" placeholder="password" data-ng-model="user.password">
        </form>
      </div>
      <div class="modal-footer">

            <button class="btn btn-primary" ng-click="$close(user)">Sign In</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header">
            <h3>Welcome | Please register</h3>
        </div>
        <div  class="modal-body">

            <form class="form-inline">
              <input type="text" placeholder="full name" data-ng-model="user.fullName">
              <input type="text" placeholder="email" data-ng-model="user.email">
              <input type="password" placeholder="password" data-ng-model="user.password">
          </form>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="$close(user)">Register</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </script>
    <div class="m-t-2 m-b-5 col-lg-4 col-lg-offset-4 text-sm-center" role="group">
        <button type="button" class="btn btn-info btn-md" ng-click="usersctrl.openSignIn()">View my wish list</button>
        <a class="btn btn-secondary btn-md" ng-click="usersctrl.openSignUp()">Register</a>
    </div>

  </div>
</div>
