.jumbotron {
  background-image: url("./lakeunsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*padding-top: 20%;*/
  padding-bottom: 40%;
}

.nav {
  background-image: url("./lakeunsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1%
  padding-bottom: 1%;
}
/*.homelist {
  background-color: #beccd1;
}*/
#homepage {
  background-color: #808080;
}

#list {
  overflow:scroll;
  height: 430px;
}
.btn-group {
  align-items: center;
}

form {
  padding-bottom: 5px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  color: green;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
  content: "\e013";
}

/*html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}*/
